<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Public-key Cryptosystems</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <h1>Key Exchange Protocol</h1>
    <form method="POST" style="text-align: center">
      <select name="sender" id="sender">
        <option value="Alice">Alice</option>
        <option value="Bob">Bob</option>
        <option value="Malice">Malice</option>
      </select>
      <select name="receiver" id="receiver">
        <option value="Alice">Alice</option>
        <option value="Bob" selected>Bob</option>
        <option value="Malice">Malice</option>
      </select>
      <br />
      <input type="submit" name="form1" value="Begin" />
    </form>
    {% if sender != None and receiver != None %}
    <h3>
      Protocol exchange between {{sender['name']}} and {{receiver['name']}}
    </h3>
    {% endif %} {% with messages = get_flashed_messages() %} {% if messages %}
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %} {% endif %} {% endwith %}
    <div align="center">
      <textarea rows="30" cols="100" readonly>
        {% for message in log %}
        {{message}}
        {% endfor %}
         </textarea
      >
      <br />
      <br />
      <a href="{{ url_for('attack')}}">Click here to see Attack Demo</a>
    </div>
  </body>
</html>
